header a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
    color: maroon;
}
header{
    background-color: rgba(119,90,90,0.6);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
header a:hover{
	color:red;
	font-weight: bold;
}
.home a{
	font-weight: bold;
	color:rgb(119, 0, 255);
}
#ty{
    background-color: lime;
    margin-top: auto;
}
h2{
    width: 75rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
img{
    width: 30%;
    float: unset;
    margin: 1.33%;
}