body{
    margin-left: 12px;
}

header a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: maroon;
}
header{
    background-color: rgba(119,90,90,0.6);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
nav>ul>li{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
}
nav>ul{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 18%;
    margin-right: auto;
}
header a:hover{
	color:red;
	font-weight: bold;
}
.home a{
	font-weight: bold;
	color:rgb(119, 0, 255);
}
img{
    width: 100%;
}
#pop{
    float: left;
    width: 10%;
    margin-top: 70px;
    margin-left: 30px;
}
#hip{
    margin-top: 70px;
    float: left;
    padding: 12px;
}
#op{
    margin-top: 10px;
    float: none;
    position: relative;
    clear: left;
    width: 70%;
}

#op h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-left: 12%;
    background-color: rgb(63, 180, 135);
}
#op p{
    margin-left: 8%;
    font-size: 18px;


}
#op ul{
    margin-left: 8%;
    font-size: 24px;
    
}
#op ul>li>ul{
    margin-left: 4%;
    font-size: 19px;
    margin: 10px 0;
}
#footer{
    border-top: solid 2px brown;
    border-bottom:solid 2px brown ;
    padding: 13px;
}