p{
    text-transform: uppercase;
    font-size: 40px;
    color: indigo;
    margin-left: 30%;
    margin-right: auto;

}
p::first-letter{
    font-size: 80px;
    color: greenyellow;
    
}
.container{
	position: relative;
	bottom: 50px;
	width: 1000px;
	overflow: auto;
	min-height: 50px;
	margin:70px auto;
	background:#f4f4f4;
	display:flex;
	flex-direction:row; 
	flex-wrap: wrap; 
}
.container .box{
	position: relative;
	width:310px;
	height: 350px;
	margin:10px;
	box-sizing: border-box;
	display: inline-block;
}
.container .box .imagebox{
	position: relative;
	overflow: hidden;
}
.container .box .imagebox img{
	max-width: 100%;
	transition: transform 1s;
	height: 280px;
	object-fit:cover;
}
.container .box:hover .imagebox{
	transform: scale(1.1);
}
